<h1>Zrealizuj kupon</h1>
<form action="/app/coupon" method="post">
	<input type="text" name="code" maxlength="8" class="inputCoupon">
	<input type="submit" value="Zrealizuj" class="btn btn-filled-color">
</form>
<% if(typeof message !== 'undefined') { %>
	<div class="alert"><%= message %></div>
<% } %>