<!DOCTYPE html>
<html>
	<head>
		<meta charset="urf-8">
		<link rel="stylesheet" href="css/styles.css">
		<title>VWallet</title>
	</head>
	<body>
		<header>
			VWallet
		</header>
		<main>
			Witaj
			<button><a href="/logout">Wyloguj się</a></button>
		</main>
		<footer>Copyright &copy; 2019 Grzegorz Babiarz</footer>
	</body>
</html>