<section>
    <a name="about-vwallet"></a>
    <h1>Czym jest VWallet?</h1>
    <img src="img/money.png" class="icon" alt="" width="128">
    <div class="text-container">
        VWallet to cyfrowy odpowiednik portfela. Za jego pomocą możesz w łatwy sposób wymieniać się pieniędzmi oraz dokonywać płatności bez podawania danych swojego konta bankowego lub karty debetowej. Wystarczy że dodasz kartę kredytową lub debetową do konta lub doładujesz je za pomocą przelewu lub zakupionego kuponu. Podczas płatności podajesz jedynie swój email i hasło do konta VWallet. Przelew środków pomiędzy kontami VWallet jest równie prosty, wystarczy podać adres email odbiorcy aby przesłać pieniądze na jego konto.
    </div>
</section>
<section>
    <a name="how-it-works"></a>
    <h1>Jak to działa?</h1>
    <div class="columns col-3">
        <article>
            <img src="img/register.png" alt="">
            <div>
                <a href="/register">Zarejestruj się</a> za darmo.
            </div>
        </article>
        <article>
            <img src="img/top-up.png" alt="">
            <div>
                <div>Dodaj środki do konta za pomocą wybranego sposobu:</div>
                <ul class="list-inline">
                    <li>powiąż z kontem VWallet kartę kredytową lub debetową</li>
                    <li>doładuj konto środkami z rachunku bankowego</li>
                    <li>doładuj konto za pomocą zakupionego kuponu</li>
                </ul>
            </div>
        </article>
        <article>
            <img src="img/payment.png" alt="">
            <div>
                Płać za pomocą konta VWallet podając jedynie swój email i hasło.
            </div>
        </article>
    </div>
</section>
<section>
    <a name="where-you-pay"></a>
    <h1>Gdzie zapłacisz za pomocą VWallet?</h1>
    <h2>Nigdzie XD</h2>
    <!--Za pomocą VWallet zapłacisz m.in. w serwisach:
    <div class="columns col-3">
        <article>
            <h2>Kino</h2>
        </article>
        <article>
            <h2>Sklep z dronami</h2>
        </article>
        <article>
            <h2>Sklep rowerowy</h2>
        </article>
    </div>-->
</section>
<section>
    <h1>Załóż konto</h1>
    <a href="/register" class="btn btn-color">Załóż darmowe konto</a>
</section>