<!DOCTYPE html>
<html>
	<head>
		<meta charset="urf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Grzegorz Babiarz">
		<meta name="description" content="VWallet - Free virtual wallet">
		<meta name="keywords" content="VWallet, virtual wallet, digital wallet, wallet">
		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="stylesheet" href="css/styles.css">
		<title>VWallet</title>
	</head>
	<body>
		<section class="image">
			<header class="header-columns">
				<article class="header-columns header-left">
					<img src="img/logo-full.png" alt="vwallet" height="40">
				</article>
				<article class="header-center">
					<nav>
						<ul class="header-columns menu">
							<li><a href="#about-vwallet">O VWallet</a></li>
							<li><a href="#how-it-works">Jak to działa</a></li>
							<li><a href="#where-you-pay">Gdzie zapłacisz</a></li>
						</ul>
					</nav>
				</article>
				<article class="header-columns header-right">
					<a href="/register" class="btn">Załóż konto</a>
					<a href="/login" class="btn btn-filled">Zaloguj się</a>
				</article>
			</header>
		</section>
		<section>
			<a name="about-vwallet"></a>
			<h1>Czym jest VWallet?</h1>
			<img src="img/money.png" class="icon" alt="" width="128">
			<div class="text-container">
				VWallet to cyfrowy odpowiednik portfela. Za jego pomocą możesz w łatwy sposób wymieniać się pieniędzmi oraz dokonywać płatności bez podawania danych swojego konta bankowego lub karty debetowej. Wystarczy że dodasz kartę kredytową lub debetową do konta lub doładujesz je za pomocą przelewu lub zakupionego kuponu. Podczas płatności podajesz jedynie swój email i hasło do konta VWallet. Przelew środków pomiędzy kontami VWallet jest równie prosty, wystarczy podać adres email odbiorcy aby przesłać pieniądze na jego konto.
			</div>
		</section>
		<section>
			<a name="how-it-works"></a>
			<h1>Jak to działa?</h1>
			<div class="columns col-3">
				<article>
					<img src="img/register.png" alt="">
					<div>
						<a href="/register">Zarejestruj się</a> za darmo.
					</div>
				</article>
				<article>
					<img src="img/top-up.png" alt="">
					<div>
						<div>Dodaj środki do konta za pomocą wybranego sposobu:</div>
						<ul class="list-inline">
							<li>powiąż z kontem VWallet kartę kredytową lub debetową</li>
							<li>doładuj konto środkami z rachunku bankowego</li>
							<li>doładuj konto za pomocą zakupionego kuponu</li>
						</ul>
					</div>
				</article>
				<article>
					<img src="img/payment.png" alt="">
					<div>
						Płać za pomocą konta VWallet podając jedynie swój email i hasło.
					</div>
				</article>
			</div>
		</section>
		<section>
			<a name="where-you-pay"></a>
			<h1>Gdzie zapłacisz za pomocą VWallet?</h1>
			<h2>Nigdzie XD</h2>
			<!--Za pomocą VWallet zapłacisz m.in. w serwisach:
			<div class="columns col-3">
				<article>
					<h2>Kino</h2>
				</article>
				<article>
					<h2>Sklep z dronami</h2>
				</article>
				<article>
					<h2>Sklep rowerowy</h2>
				</article>
			</div>-->
		</section>
		<section>
			<h1>Załóż konto</h1>
			<a href="/register" class="btn btn-color">Załóż darmowe konto</a>
		</section>
		<footer>Copyright &copy; 2019 Grzegorz Babiarz</footer>
	</body>
</html>