<!DOCTYPE html>
<html>
    <head>
        <meta charset="urf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Grzegorz Babiarz">
        <meta name="description" content="VWallet - Free virtual wallet">
        <meta name="keywords" content="VWallet, virtual wallet, digital wallet, wallet">
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/styles.css">
        <title>VWallet</title>
    </head>
    <% if(page == 'home') { %><section class="image"><% } %>
        <header class="header-columns header-filled header-mobile">
            <img src="/img/icon-menu.png" alt="" height="24" id="mobile-menu">
            <article class="header-columns header-left">
                <a href="/"><img src="img/logo-full.png" alt="vwallet" height="40"></a>
            </article>
            <article class="header-center">
                <nav>
                    <ul class="header-columns menu">
                        <li><a href="/#about-vwallet">O VWallet</a></li>
                        <li><a href="/#how-it-works">Jak to działa</a></li>
                        <li><a href="/#where-you-pay">Gdzie zapłacisz</a></li>
                    </ul>
                </nav>
            </article>
            <article class="header-columns header-right">
                <a href="/register" class="btn">Załóż konto</a>
                <a href="/login" class="btn btn-filled">Zaloguj się</a>
            </article>
        </header>
    <% if(page == 'home') { %></section><% } %>
    <body <% if(page != 'home') { %>class="app-body gradient"<% } %>>
        <% if(page == 'home') { %>
            <%- include home %>
        <% } else if(page == 'login') { %>
            <%- include login %>
        <% } else if(page == 'register') { %>
            <%- include register %>
        <% } %>
        <footer class="footer-fixed-bottom">Copyright &copy; 2019 Grzegorz Babiarz</footer>
        <script src="/js/mobile-menu.js"></script>
    </body>
</html>