<main>
    <form action="/login" method="POST" class="form">
        <h3>Logowanie</h3>
        <div>
            <input type="email" name="email" placeholder="Email">
        </div>
        <div>
            <input type="password" name="password" placeholder="Hasło">
        </div>
        <div>
            <input type="submit" value="Zaloguj się" name="login" class="btn btn-filled-color">
        </div>
        <span class="text-small">Nie masz konta? <a href="/register">Zarejestruj się</a></span>
        <% if(typeof message !== 'undefined') { %>
            <div class="alert"><%= message %></div>
        <% } %>
    </form>
</main>