<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Grzegorz Babiarz">
		<meta name="description" content="VWallet - Free virtual wallet">
		<meta name="keywords" content="VWallet, virtual wallet, digital wallet, wallet">
		<link rel="shortcut icon" href="img/favicon.ico">
		<link rel="stylesheet" href="css/styles.css">
		<title>VWallet - Logowanie</title>
	</head>
	<body class="gradient">
		<header class="header-filled">
			<a href="/"><img src="img/logo-full.png" alt="vwallet" height="40"></a>
		</header>
		<main>
			<form action="/login" method="POST" class="form">
				<div>
					<input type="email" name="email" placeholder="Email">
				</div>
				<div>
					<input type="password" name="password" placeholder="Hasło">
				</div>
				<div>
					<input type="submit" value="Zaloguj się" name="login" class="btn btn-filled-color">
				</div>
				<span class="text-small">Nie masz konta? <a href="/register">Zarejestruj się</a></span>
				<% if(typeof message !== 'undefined') { %>
					<div class="alert"><%= message %></div>
				<% } %>
			</form>
		</main>
	</body>
</html>