<div class="tabs-container">
	<ul class="tabs">
		<li>Historia</li>
		<li>Działania</li>
	</ul>
	<article>
		<ul class="transactionList">
			<li class="transaction"><div>Kwota</div><div>Opis</div><div>Data</div></li>
			<% transactions.forEach(function(transaction) { %>
			<% var date = new Date(transaction['createdAt']); %>
				<li class="transaction green"><div><%= transaction['amount'] %> zł</div><div><%= transaction['type']=='coupon' ? 'Zrealizowano kupon: '+transaction['couponCode'] : '' %></div><div><%= (date.getDate() < 10 ? "0"+date.getDate() : date.getDate())+"."+(date.getMonth() < 10 ? "0"+date.getMonth() : date.getMonth())+"."+date.getFullYear()+"  "+(date.getHours() < 10 ? "0"+date.getHours() : date.getHours())+":"+(date.getMinutes() < 10 ? "0"+date.getMinutes() : date.getMinutes()) %></div></li>
				
			<% }); %>
		</ul>
	</article>
	<article>
		<form action="/transfer" method="POST" class="form">
			<h1>Wyślij środki</h1>
			<div>
				<input type="email" name="email" placeholder="Email">
			</div>
			<div>
				<input type="number" min="0" name="amount" placeholder="Kwota" step="0.01">
			</div>
			<div>
				<input type="submit" name="transfer" value="Wyślij" class="btn btn-filled-color">
			</div>
		</form>
	</article>
</div>
<script>
	$(() => {
		$('.tabs > li').click(function() {
			$('.tabs-container > article').css('display', 'none');
			$('.tabs-container > article:nth-of-type('+($(this).index()+1)+')').css('display', 'block');
		});
	});
</script>