<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>VWallet - Logowanie</title>
	</head>
	<body>
		<form action="/" method="POST">
			<div>
				<input type="text" name="firstname" placeholder="Imię">
			</div>
			<div>
					<input type="text" name="lastname" placeholder="Nazwisko">
				</div>
			<div>
				<input type="email" name="email" placeholder="Email">
			</div>
			<div>
				<input type="password" name="password" placeholder="Hasło">
			</div>
			<div>
					<input type="password" name="password-repeat" placeholder="Powtórz hasło">
				</div>
			<div>
				<input type="submit" value="Załóż konto" name="register">
			</div>
		</form>
	</body>
</html>