<h3>Saldo konta: <%= user.balance.toFixed(2) %> zł</h3>
<h2>Wybierz sposób doładowania:</h2>
<div class="top-up-ways-list">
	<a href="#"><img src="/img/icon-credit-card.png" alt="" valign="middle"> Powiąż kartę kresytową</a>
	<a href="#"><img src="/img/icon-bank.png" alt="" valign="middle"> Powiąż rachunek bankowy</a>
	<a href="#"><img src="/img/icon-bank.png" alt="" valign="middle"> Przelew jednorazowy</a>
	<a href="/coupon"><img src="/img/icon-coupon.png" alt="" valign="middle"> Kupon doładowujący</a>
</div>