html, body {
    height: 100%;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Calibri;
    font-size: 18px;
    color: #303030;
    background-color: #fbfbfb;
}
footer {
    background-color: #0B5057;
    padding: 20px;
    color: #fff;
    text-align: center;
}
header {
    border-bottom: 1px solid #a3a3a3;
    padding: 10px 10%;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section {
    padding: 20px 30px 50px 30px;
    text-align: center;
}
section:nth-child(2n+1) {
    background-color: #f7f7f7;
}
section > h1 {
    font-weight: normal;
    font-size: 2.4em;
    margin: 20px 0;
}
.columns img {
    margin: 5px 0 20px 0;
}
a {
    color: #0B5057;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #115b63;
}
header a {
    color: inherit;
}
header a:hover {
    color: #ebebeb;
}
ul {
    text-align: left;
}
main {
    text-align: center;
}
input[type="text"] {
    padding: 6px 10px;
    border-radius: 20px;
    border: 1px solid #0B5057;
}
input[type=text]:focus {
    outline: 0;
}
.inputCoupon {
    text-transform: uppercase;
}
form {
    padding: 10px 0;
}
.image {
    padding: 0;
    background-image: url('../img/VWallet.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 10%;
    height: 100%;
    width: 100%;
}
.btn {
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 20px;
    background-color: inherit;
    color: #ffffff;
    padding: 8px 18px;
    text-align: center;
    font-weight: bold;
    margin: 0 3px;
}
.btn:hover {
    cursor: pointer;
    color: #ebebeb;
    border-color: #ebebeb;
}
.btn-filled {
    background-color: #ffffff;
    color: #303030;
}
.btn-filled:hover {
    background-color: #ebebeb;
    border-color: #ebebeb;
    color: #202020;
}
.btn-filled-color {
    border-color: #0B5057;
    background-color: #0B5057;
    color: #ffffff;
}
.btn-filled-color:hover {
    background-color: #115b63;
    border-color: #115b63;
    color: #ffffff;
}
.btn-color {
    border-color: #0B5057;
    background-color: inherit;
    color: #0B5057;
}
.btn-color:hover {
    background-color: inherit;
    border-color: #115b63;
    color: #115b63;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}
.menu > li {
    margin: 0;
    padding: 0 20px;
}
.text-container {
    width: 70%;
    margin: 0 auto;
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.columns > div, .columns > article {
    padding: 0 5px;
    box-sizing: border-box;
}
.col-3 > div, .col-3 > article {
    flex-basis: 33%;
}
.list-inline {
    display: inline-block;
}
.header-columns {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-left {
    justify-content: flex-start;
    object-fit: cover;
    height: 100%;
    flex: 1;
}
.header-center {
    justify-content: center;
    flex: 2;
}
.header-right {
    justify-content: flex-end;
    flex: 1;
}
.header-filled {
    background-color: #0B5057;
    color: #f7f7f7;
}
.form {
    border-radius: 5px;
    margin: 20px 0;
    display: inline-block;
    padding: 25px 50px;
    -webkit-box-shadow: 0px 0px 7px 0px #0b505750;
    -moz-box-shadow: 0px 0px 7px 0px #0b505750;
    box-shadow: 0px 0px 7px 0px #0b505750;
    background-color: #f7f7f7;
}
.form > div {
    padding: 10px 0;
}
.form input[type=text], .form input[type=email], .form input[type=password], .form input[type=number] {
    border: 1px solid #0B5057;
    border-radius: 5px;
    padding: 8px 15px;
    width: 20vw;
    box-sizing: border-box;
}
.form h1, .form h2, .form h3 {
    margin: 5px 0;
}
.gradient {
    background-image: linear-gradient(135deg, #0B505750, #ffffff);
}
.text-small {
    font-size: 0.85em;
}
.alert {
    color: rgb(214, 0, 0);
}
.footer-fixed-bottom {
    margin-top: auto;
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 10px;
    justify-content: center;
}
.flex-panel2-3 {
    flex-basis: calc(66% - 20px);
}
.flex-panel1-3 {
    flex-basis: calc(33% - 20px);
}
.flex-panel1-2 {
    flex-basis: calc(50% - 20px);
}
.flex-panel {
    box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.25);
    background-color: #fdfdfd;
    margin: 10px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

}
.flex-panel > div:not(.chartText) {
    text-align: left;
}
.flex-panel h1, .flex-panel h2, .flex-panel h3 {
    text-transform: uppercase;
    margin: 0;
}
.flex-panel .label {
    font-size: 0.7em;
    font-weight: bold;
    text-transform: uppercase;
}
a.flex-panel {
    display: block;
}
a.flex-panel:hover {
    box-shadow: 0px 0px 15px -7px rgba(0,0,0,0.5);
    background-color: #fff;
}
.flex-panel img {
    height: 64px;
    margin-right: 10px;
}
.flex-panel-auto-height {
    align-self: flex-start;
}
.app-body {
    display: flex;
    flex-direction: column;
}
.app-main {
    overflow: auto;
}
.green {
    color: green;
}
.red {
    color: red;
}
.form2 > div {
    padding: 8px;
}
.form2 input[type=text], .form2 input[type=email], .form2 input[type=number], .form2 textarea {
    border: 1px solid silver;
    border-radius: 3px;
    padding: 8px 15px;
    width: 20vw;
}

.form2 textarea {
    resize: none;
}
.chartText {
    text-align: center;
    font-size: 2vh;
}
.balance {
    position: absolute;
    top: 40%;
}
.expenses {
    position: absolute;
    bottom: 30px;
}
.list {
    margin: 0;
    padding: 15px 15px 0 15px;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
}
.list > li {
    margin: 8px 0;
}
.list-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    padding: 5px;
}
.list-item:hover {
    background-color: #f7f7f7;
}
.list-item-right {
    margin-left: auto;
    text-align: right;
}
.list-item-left {
    padding-left: 8px;
}
.list-item-title {
    font-weight: bold;
}
.list-item-description {
    font-size: 0.85em;
    color: gray;
}
.list > li img {
    height: 24px;
    width: 24px;
}
.transaction-list {
    max-height: 90vh;
    overflow-y: auto;
}
.header-mobile > img {
    display: none;
}
.form-group {
    padding: 5px 0;
}
@media only screen and (max-width: 700px) {
    .header-mobile > img {
        display: inline-block;
    }
    .header-mobile:not(.header-mobile-show) article {
        display: none;
    }
    .header-mobile-show {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        z-index: 999;
    }
    .header-full {
        height: 100%;
        box-sizing: border-box;
    }
    .header-columns {
        flex-direction: column;
    }
    .header-columns > *, .menu > li {
        margin: 10px 0;
    }
    .columns {
        flex-direction: column;
    }
    .image {
        background-image: none;
        background-color: #0B5057 !important;
        height: auto;
    }
    .flex-container {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    .flex-panel {
        padding: 15px 0;
        flex-basis: 100%;
    }
    .flex-panel-auto-height {
        align-self: auto;
    }
    .form2 input[type=text], .form2 input[type=email], .form2 input[type=number], .form2 textarea {
        width: 90%;
        box-sizing: border-box;
    }
    .form2 {
        width: 100%;
    }
    .transaction-list > img {
        display: none;
    }
    .transaction-list .list-item-right {
        margin-left: 0;
        text-align: center;
        order: 0;
        margin-bottom: 15px;
    }
    .transaction-list .list-item-left {
        text-align: center;
        order: 1;
        margin-bottom: 8px;
    }
    .transaction-list {
        flex-direction: column;
        border-bottom: 1px solid #e9e9e9;
    }
    .transaction-list:last-child {
        border: 0;
    }
    .form {
        box-shadow: none;
        margin: 0;
        display: block;
        padding: 20px 0;
        background-color: inherit;
    }
    .form input[type=text], .form input[type=email], .form input[type=password], .form input[type=number] {
        width: 80vw;
    }
}
@media only screen and (max-height: 500px) {
    .image {
        height: 200%;
        box-sizing: border-box;
    }
}