html, body {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	margin: 0;
	font-family: Calibri;
	font-size: 18px;
	color: #303030;
}
footer {
	background-color: #0B5057;
	padding: 20px;
	color: #fff;
	text-align: center;
}
header {
	border-bottom: 1px solid #a3a3a3;
	padding: 10px 10%;
	text-align: right;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
section {
	padding: 20px 30px 50px 30px;
	text-align: center;
}
section:nth-child(2n+1) {
	background-color: #f7f7f7;
}
section > h1 {
	font-weight: normal;
	font-size: 2.4em;
	margin: 20px 0;
}
.columns img {
	margin: 5px 0 20px 0;
}
a {
	color: #0B5057;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: #115b63;
}
header a {
	color: inherit;
}
header a:hover {
	color: #ebebeb;
}
ul {
	text-align: left;
}
main {
	text-align: center;
}
input[type=text] {
	padding: 6px 10px;
	border-radius: 20px;
	border: 1px solid #0B5057;
	text-transform: uppercase;
}
form {
	padding: 10px 0;
}
.image {
	padding: 0;
	background-image: url('../img/VWallet.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 10%;
	height: 100%;
	width: 100%;
}
.btn {
	display: inline-block;
	border: 1px solid #ffffff;
	border-radius: 20px;
	background-color: inherit;
	color: #ffffff;
	padding: 8px 18px;
	text-align: center;
	font-weight: bold;
	margin: 0 3px;
}
.btn:hover {
	cursor: pointer;
	color: #ebebeb;
	border-color: #ebebeb;
}
.btn-filled {
	background-color: #ffffff;
	color: #303030;
}
.btn-filled:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;
	color: #202020;
}
.btn-filled-color {
	border-color: #0B5057;
	background-color: #0B5057;
	color: #ffffff;
}
.btn-filled-color:hover {
	background-color: #115b63;
	border-color: #115b63;
	color: #ffffff;
}
.btn-color {
	border-color: #0B5057;
	background-color: inherit;
	color: #0B5057;
}
.btn-color:hover {
	background-color: inherit;
	border-color: #115b63;
	color: #115b63;
}
.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}
.menu > li {
	margin: 0;
	padding: 0 20px;
}
.text-container {
	width: 70%;
	margin: 0 auto;
}
.columns {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.columns > div, .columns > article {
	padding: 0 5px;
	box-sizing: border-box;
}
.col-3 > div, .col-3 > article {
	flex-basis: 33%;
}
.list-inline {
	display: inline-block;
}
.header-columns {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header-left {
	justify-content: flex-start;
	object-fit: cover;
	height: 100%;
	flex: 1;
}
.header-center {
	justify-content: center;
	flex: 2;
}
.header-right {
	justify-content: flex-end;
	flex: 1;
}
.header-filled {
	background-color: #0B5057;
	color: #f7f7f7;
}
.form {
	border-radius: 5px;
	margin: 20px 0;
	display: inline-block;
	padding: 25px 50px;
	-webkit-box-shadow: 0px 0px 7px 0px #0b505750;
	-moz-box-shadow: 0px 0px 7px 0px #0b505750;
	box-shadow: 0px 0px 7px 0px #0b505750;
	background-color: #f7f7f7;
}
.form > div {
	padding: 10px 0;
}
.form input[type=text], .form input[type=email], .form input[type=password] {
	border: 1px solid #0B5057;
	border-radius: 5px;
	padding: 8px 15px;
	width: 300px;
}
.gradient {
	background-image: linear-gradient(135deg, #0B505750, #ffffff);
}
.text-small {
	font-size: 0.85em;
}
.alert {
	color: rgb(214, 0, 0);
}
.footer-fixed-bottom {
	margin-top: auto;
}
.top-up-ways-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 10%;
}
.top-up-ways-list > a {
	display: block;
	border: 1px solid #0b505750;
	border-radius: 10px;
	padding: 15px 35px;
	box-sizing: border-box;
	margin: 10px 10px;
	flex-basis: calc(50% - 20px);
	
}
.top-up-ways-list > a:hover {
	background-color: #f7f7f7;
}
.top-up-ways-list > a img {
	height: 64px;
	margin-right: 10px;
}
.app-body {
	display: flex;
	flex-direction: column;
}
.app-main {
	overflow: auto;
}
@media only screen and (max-width: 700px) {
	header {
		height: 100%;
		box-sizing: border-box;
	}
	.header-columns {
		flex-direction: column;
	}
	.header-columns > *, .menu > li {
		margin: 10px 0;
	}
	.columns {
		flex-direction: column;
	}
	img:not(.icon) {
		width: 100%;
		height: auto;
	}
	.image {
		background-image: none;
		background-color: #0B5057 !important;
	}
}
@media only screen and (max-height: 500px) {
	.image {
		height: 200%;
	}
}